* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #feece2;
}

.container {
    background-color: #ffbe98;
    padding: 5rem;
    border-radius: 5rem;
    border-style: groove;
    min-height: 45vh;
    width: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.container h2 {
    font-family: "Arial Black", sans-serif;
    text-align: center;
    background-color: #feece2;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.amount {
    font-family: "Arial Black", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

form {
    margin: 1rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    background-color: white;
}

.from p,
.to p {
    text-align: center;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 1rem;
    border: 1px solid rgb(10, 9, 9);
    padding: 0.5rem 1rem;
    background-color: #feece2;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Arial Black", sans-serif;
}

.from {
    font-family: "Arial Black", sans-serif;
}

.to {
    font-family: "Arial Black", sans-serif;
}


button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}
